.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.form{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
}

.link{
    height: fit-content;
}