body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Objektiv Mk2 Trial', sans-serif;
    background-image: url(./1.gif);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
button{
    font-family: 'Objektiv Mk2 Trial', sans-serif;
}
::-moz-selection {
    color: rgb(255, 255, 255);
    background: rgb(20, 0, 34);
  }
  
  ::selection {
    color: rgb(255, 255, 255);
    background: rgb(20, 0, 34);
  }